
#container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;

}

#container>div {
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
}
    
